# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Virtual environments
venv/
.venv/
env/
ENV/

# Output and local test files
*_figures/
*.pdf
*.png
*.jpg
.idea/
.vscode/
.DS_Store
